.body {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section {
    padding-bottom: 60px;
    padding-top: 60px;
    @media screen and (min-width:1200px) {
            padding-bottom: 94px;
            padding-top: 94px;   
    }
}