.benefits__list {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (min-width:1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.benefits__item {
    width: 100%;
    @media screen and (min-width:768px){
        width: calc((100% - 30px)/2);
    }
    @media screen and (min-width:1200px) {
        width: calc((100% - 90px)/4);
    }
}


.benefits__thumb {
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.benefits__title {
    @include font(null, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--color-title);
    text-align: center;
    @media screen and (min-width:768px) {
        text-align:start;
    }
}

.benefits__text {
    margin-top: 10px;     
    @include font(null, 14px, 1.71, 0.03em);
    color: var(--color-text);
}