.benefits__list {
    // display: flex;
}

.benefits__item {
    width: 100%;
    margin-right: 30px;
    &:nth-child(4n) {
            margin-right: 0;
        }
}


.benefits__thumb {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    margin-bottom: 30px;
}

.benefits__title {
    @include font(null, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--color-title);
}

.benefits__text {
    margin-top: 10px;     
    @include font(null, 14px, 1.71, 0.03em);
    color: var(--color-text);
}