.clients{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:1200px){
            padding-top: 94px;
            padding-bottom: 94px;
    }

}
.clients__title {
    margin-bottom: 30px;
    @include font(700, 28px, 1.17, 0.03em);
    text-align: center;
    color: var(--color-title);
    @media screen and (min-width:1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.clients__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.clients__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 30px)/2);
        @media screen and (min-width:768px) {
            width: calc((100% - 60px)/3);
        }
    
        @media screen and (min-width:1200px) {
            width: calc((100% - 150px)/6);
        }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    width: 100%;
    height: auto;
    padding: 16px 52px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--color-link);
        border: 1px solid var(--color-link);
    }
}


