
.navigation {
    display: flex;
    align-items: center;
    &__list {
        @media screen and (max-width:767px) {
            display: none;
        }
        display: flex;
        align-items: center;
        gap: 50px;
    }
    &__link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        @include font(500, 14px, 1.14, 0.02em);
        color: var(--color-title);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover, &:focus {
                color: var(--color-link);
        }
    }
}

.header {
    border-bottom: #ECECEC 1px solid;
    >.container {
        display: flex;
        }
    &__logo {
        margin-right: 93px;
        color: #000000;
                @media screen and (max-width:767px) {
                        padding-top: 16px;
                        padding-bottom: 16px;
                    }
        }
}


.logo {
    @include font(700, 26px, 1.19, 0.03em);
    font-family: 'Raleway';
    font-style: normal;
    &__text {
        @include font(700, 26px, 1.19, 0.03em);
        font-family: 'Raleway';
        font-style: normal;
        color: var(--color-link);
    }
}


.current {
    color: var(--color-link);
    position: relative;
    &::after {
        content: '';
        width: 100%;
        height: 4px;
        background: var(--color-link);
        border-radius: 2px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


.connect {
    @media screen and (max-width:767px) {
            display: none;
        }
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    @media screen and (min-width:1200px) {
            flex-direction: row;
            gap: 50px;
            align-items: center;
    }
    &__tel {
        display: flex;
        align-items: center;
        margin-top: 10px;
        @include font(500, 12px, 1.16, 0.02em);
        color: var(--color-text);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,&:focus {
                color: var(--color-link);}                   
        @media screen and (min-width:1200px) {
        margin-top: 0;

        font-size: 14px;
        line-height: 1.14;}
        }
    &__mailto {
        display: flex;
        align-items: center;
        @include font(500, 12px, 1.16, 0.02em);
        color: var(--color-text);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,&:focus{
                color: var(--color-link);}
                }
                @media screen and (min-width:1200px) {
                        font-size: 14px;
                        line-height: 1.14;
                    }    
    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}  

.menu-open{
    @media screen and (max-width:767px){
            background-color: transparent;
                border: none;
                margin-left: auto; 
                display: flex;
                align-items: center;    
                cursor: pointer;  
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    &:hover,
                    &:focus {
                        fill: var(--color-link);
                    }
    }
 @media screen and (min-width:768px){
display: none;
 }
}

.mob-menu{
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
    top: 0;
    padding-top: 10px;
    padding-bottom: 48px;
    padding-left: 40px;

    &__item {
        margin-bottom: 32px;
        }
    &__link {
            @include font(500, 40px, 1.18, 0.02em);
            color: #212121;
        }
    &__link--current {
            @include font(500, 40px, 1.18, 0.02em);
            color: var(--color-link);
        }
    > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
}
}
    .menu-close {
        background-color: transparent;
        border: none;
        display: block;
        margin-left: auto;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            fill: var(--color-link);
        }
    }

.mob-connect__tel{
    @include font(500, 34px, 1.18, 0.02em);
        color: var(--color-link);
        display: block;
        margin-bottom: 32px;
}

.mob-connect__mailto{
    @include font(500, 24px, 1.17, 0.02em);
    color: #757575;
    display: block;
    margin-bottom: 64px;
}

.mob-soc{
    display: flex;
    &__link {
            @include font(500, 18px, 1.22, 0.02em);
            color: var(--color-link);
        }
    &__item {
            &:not(:last-child) {
                border-right: 1px solid rgba(33, 33, 33, 0.2);
                padding-right: 10px;
            }
            &:not(:first-child) {
                padding-left: 10px;
            }
        }
}




