.hero {
    background-color: #2F303A;
    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 55, 58, 0.4),
    rgba(47, 55, 58, 0.4)), url(../imges/hero-mob.jpg);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    @include retina{
        background-image: linear-gradient(rgba(47, 55, 58, 0.4),
        rgba(47, 55, 58, 0.4)), url(../imges/hero-mob-2x.jpg);
    }
            @media screen and (min-width:768px){
            background-image: linear-gradient(rgba(47, 55, 58, 0.4),
                rgba(47, 55, 58, 0.4)), url(../imges/hero-tab.jpg);
                @include retina {
                    background-image: linear-gradient(rgba(47, 55, 58, 0.4),
                    rgba(47, 55, 58, 0.4)), url(../imges/hero-tab-2x.jpg);
                }
            }
            @media screen and (min-width:1200px) {
                max-width: 1600px;
                height: 600px;
                padding-top: 200px;
                padding-bottom: 200px;
                background-image: linear-gradient(rgba(47, 55, 58, 0.4),
                rgba(47, 55, 58, 0.4)), url(../imges/hero-bg.jpg);
                @include retina {
                    background-image: linear-gradient(rgba(47, 55, 58, 0.4),
                    rgba(47, 55, 58, 0.4)), url(../imges/hero-bg-2x.jpg);
                    }
            }
    &__title {
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        max-width: 360px;
        @include font(900, 26px, 1.61, 0.06em);
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
            @media screen and (min-width:1200px) {
                max-width: 696px;
                font-size: 44px;
                line-height: 1.36;}
        }
    &__btn {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 32px;
    border-color: transparent;
    border-radius: 4px;
    @include font(700, 16px, 1.88, 0.06em);
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--color-link);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
        background-color: #188CE8;
        }
    }
}






